.main {  
    border: 3px solid black;
    height:  65vh;
    margin-top: 5px;
    padding-top: 7rem;    
    padding-left: 15%;
    font-size: 30px;
}

.maintitle {
    font-weight: bold;
}

.forms {
    display: flex;
}