.parent {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    padding-top: 3rem;
}

.label {
    font-size: 30px;
}

.inputPostion {
    padding-left: 9px;
}

input {
    font-size: large;
    border: solid;
    height: 40px;
    width: 200%;
    padding: 4px;
    padding-left: 9px;
}